

.ntf_img
{
    background:url(../image/circle.png) no-repeat;
    position:relative;
    top: -110%;
    left:70%;
    width:16px;height:16px;
    text-align:center;
    color: white;
}
.ntf_text{
    position: relative;
    top: -50%;
    color: white;
    font-size: 12px;
}