<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.iquma.pojo.Attachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="tid" jdbcType="INTEGER" property="tid" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="fileName" jdbcType="VARCHAR" property="filename" />
    <result column="fileSize" jdbcType="DOUBLE" property="filesize" />
    <result column="attPath" jdbcType="VARCHAR" property="attpath" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="price" jdbcType="TINYINT" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    id, tid, uid, addTime, fileName, fileSize, attPath, description, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic_attinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_attinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iquma.pojo.Attachment">
    insert into topic_attinfo (id, tid, uid, 
      addTime, fileName, fileSize, 
      attPath, description, price
      )
    values (#{id,jdbcType=INTEGER}, #{tid,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR}, 
      #{addtime,jdbcType=TIMESTAMP}, #{filename,jdbcType=VARCHAR}, #{filesize,jdbcType=DOUBLE}, 
      #{attpath,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iquma.pojo.Attachment">
    insert into topic_attinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="filename != null">
        fileName,
      </if>
      <if test="filesize != null">
        fileSize,
      </if>
      <if test="attpath != null">
        attPath,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="filename != null">
        #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        #{filesize,jdbcType=DOUBLE},
      </if>
      <if test="attpath != null">
        #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iquma.pojo.Attachment">
    update topic_attinfo
    <set>
      <if test="tid != null">
        tid = #{tid,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="filename != null">
        fileName = #{filename,jdbcType=VARCHAR},
      </if>
      <if test="filesize != null">
        fileSize = #{filesize,jdbcType=DOUBLE},
      </if>
      <if test="attpath != null">
        attPath = #{attpath,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iquma.pojo.Attachment">
    update topic_attinfo
    set tid = #{tid,jdbcType=INTEGER},
      uid = #{uid,jdbcType=VARCHAR},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      fileName = #{filename,jdbcType=VARCHAR},
      fileSize = #{filesize,jdbcType=DOUBLE},
      attPath = #{attpath,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      price = #{price,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>