<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.AttachmentMapper">
  <resultMap id="BaseResultMap" type="com.iquma.pojo.Attachment">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="uid" jdbcType="VARCHAR" property="uid" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="size" jdbcType="DOUBLE" property="size" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="price" jdbcType="TINYINT" property="price" />
  </resultMap>
  <sql id="Base_Column_List">
    id, uid, addTime, name, size, path, price
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from topic_attinfo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_attinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iquma.pojo.Attachment">
    insert into topic_attinfo (id, uid,
      addTime, name, size, 
      path, price
      )
    values (#{id,jdbcType=INTEGER}, #{uid,jdbcType=VARCHAR},
      #{addtime,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, #{size,jdbcType=DOUBLE}, 
      #{path,jdbcType=VARCHAR}, #{price,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.iquma.pojo.Attachment">
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into topic_attinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="uid != null">
        uid,
      </if>
      <if test="addtime != null">
        addTime,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="path != null">
        path,
      </if>
      <if test="price != null">
        price,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uid != null">
        #{uid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iquma.pojo.Attachment">
    update topic_attinfo
    <set>
      <if test="uid != null">
        uid = #{uid,jdbcType=VARCHAR},
      </if>
      <if test="addtime != null">
        addTime = #{addtime,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=DOUBLE},
      </if>
      <if test="path != null">
        path = #{path,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iquma.pojo.Attachment">
    update topic_attinfo
    set
      uid = #{uid,jdbcType=VARCHAR},
      addTime = #{addtime,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      size = #{size,jdbcType=DOUBLE},
      path = #{path,jdbcType=VARCHAR},
      price = #{price,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>