<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.FavoriteMapper">
    <resultMap id="BaseResultMap" type="com.iquma.pojo.Favorite">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="obid" jdbcType="INTEGER" property="obid"/>
        <result column="favTime" jdbcType="TIMESTAMP" property="favTime"/>
        <association property="topic" resultMap="TopicResultMap"/>
    </resultMap>

    <resultMap id="TopicResultMap" type="com.iquma.pojo.Topic">
        <id column="topicId" jdbcType="INTEGER" property="id" />
        <result column="topicSec" jdbcType="VARCHAR" property="sec" />
        <result column="topicTitle" jdbcType="VARCHAR" property="title" />
        <result column="topicContent" jdbcType="LONGVARCHAR" property="content" />
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, obid, favTime
    </sql>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_favinfo
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.iquma.pojo.Favorite">
        insert into user_favinfo
        (uid,obid,favTime)
        values (#{uid,jdbcType=VARCHAR},#{obid,jdbcType=INTEGER},#{favTime,jdbcType=TIMESTAMP})
    </insert>

    <select id="selectByCondition" parameterType="com.iquma.pojo.Favorite" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_favinfo
        where id=(
        select temp.id from (
        select id from user_favinfo
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                id = #{id,jdbcType=TINYINT}
            </if>
            <if test="uid != null">
                and uid = #{uid,jdbcType=VARCHAR}
            </if>
            <if test="obid != null">
                and obid = #{obid,jdbcType=INTEGER}
            </if>
            <if test="favTime != null">
                and favTime = #{favTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
        limit 1) as temp )
    </select>

    <select id="selectsByPage" resultMap="BaseResultMap">
        select
        f.id, f.uid, f.obid, f.favTime, t.id as topicId, t.title as topicTitle, t.sec as topicSec, t.content as topicContent
        from user_favinfo f
        left join topic_topinfo t on f.obid = t.id
        where f.id in(
        select temp.id from (
        select id from user_favinfo uf
        <trim prefix="where" prefixOverrides="and">
            <if test="fav.id != null">
                uf.id = #{fav.id}
            </if>
            <if test="fav.uid != null">
                and uf.uid = #{fav.uid}
            </if>
            <if test="fav.obid != null">
                and uf.obid = #{fav.obid}
            </if>
            <if test="fav.favTime != null">
                and uf.favTime = #{fav.favTime}
            </if>   
        </trim>
        limit ${start},10 ) as temp)
    </select>

    <select id="selectsCount" parameterType="com.iquma.pojo.Favorite" resultType="java.lang.Integer">
      select count(*) from user_favinfo
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
               id = #{id,jdbcType=INTEGER}
            </if>
            <if test="uid != null">
              and uid = #{uid,jdbcType=VARCHAR}
            </if>
            <if test="obid != null">
               and obid = #{obid,jdbcType=INTEGER}
            </if>
            <if test="favTime != null">
               and favTime = #{favTime,jdbcType=TIMESTAMP}
            </if>
        </trim>
    </select>

</mapper>