<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.NotificationMapper">
    <resultMap id="BaseResultMap" type="com.iquma.pojo.Notification">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="ntftime" jdbcType="TIMESTAMP" property="ntftime"/>
        <result column="isnew" jdbcType="BIT" property="isnew"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, content, ntftime, isnew
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_ntfinfo
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <select id="selectsByCondition" parameterType="com.iquma.pojo.Notification" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_ntfinfo
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="uid != null">
                and uid = #{uid,jdbcType=VARCHAR}
            </if>
            <if test="content != null">
                and content = #{content,jdbcType=VARCHAR}
            </if>
            <if test="ntftime != null">
                and ntftime = #{ntftime,jdbcType=TIMESTAMP}
            </if>
            <if test="isnew != null">
                and isnew = #{isnew,jdbcType=BIT}
            </if>
        </trim>
        ORDER BY ntftime desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete from user_ntfinfo
        where id = #{id,jdbcType=VARCHAR}
    </delete>

    <insert id="insertSelective" parameterType="com.iquma.pojo.Notification">
        insert into user_ntfinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="ntftime != null">
                ntftime,
            </if>
            <if test="isnew != null">
                isnew,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="ntftime != null">
                #{ntftime,jdbcType=TIMESTAMP},
            </if>
            <if test="isnew != null">
                #{isnew,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="read" parameterType="com.iquma.pojo.Notification" >
        update user_ntfinfo set isnew = FALSE
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.iquma.pojo.Notification">
        update user_ntfinfo
        set uid = #{uid,jdbcType=VARCHAR},
        content = #{content,jdbcType=VARCHAR},
        ntftime = #{ntftime,jdbcType=TIMESTAMP},
        isnew = #{isnew,jdbcType=BIT}
        where id = #{id,jdbcType=VARCHAR}
    </update>
</mapper>