<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.OperationMapper">
    <resultMap id="BaseResultMap" type="com.iquma.pojo.Operation">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="opid" jdbcType="VARCHAR" property="opid"/>
        <result column="pid" jdbcType="TINYINT" property="pid"/>
        <result column="opTime" jdbcType="TIMESTAMP" property="opTime"/>
        <association property="permission" resultMap="PermissionResultMap" />
    </resultMap>

    <resultMap id="PermissionResultMap" type="com.iquma.pojo.Permission">
        <id column="perid" jdbcType="TINYINT" property="id" />
        <result column="perpermission" jdbcType="VARCHAR" property="permission" />
        <result column="perdescription" jdbcType="VARCHAR" property="description" />
    </resultMap>

    <sql id="Base_Column_List">
        id, uid, opid, pid, opTime
    </sql>

    <select id="selectsByCondition" parameterType="com.iquma.pojo.Operation" resultMap="BaseResultMap">
        select
        o.id, o.uid, o.opid, o.pid, o.opTime, p.permission as perpermission, p.description as perdescription
        from user_opinfo o
        left join user_perinfo p on o.pid = p.id
        <trim prefix="where" prefixOverrides="and">
            <if test="id != null">
                o.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="uid != null">
                and uid = #{uid,jdbcType=VARCHAR}
            </if>
            <if test="opid != null">
                and opid = #{opid,jdbcType=VARCHAR}
            </if>
            <if test="pid != null">
                and pid = #{pid,jdbcType=TINYINT}
            </if>
        </trim>
    </select>

    <select id="selectsRateInfo" parameterType="com.iquma.pojo.Operation" resultType="java.lang.String">
        select p.permission as perpermission
        from user_opinfo o
        left join user_perinfo p on o.pid = p.id
        <trim prefix="where" prefixOverrides="and">
            <if test="uid != null">
                uid = #{uid,jdbcType=VARCHAR}
            </if>
            <if test="opid != null">
                and opid = #{opid,jdbcType=VARCHAR}
            </if>
            and pid in (select p.id from user_perinfo WHERE (p.permission like '%like' or p.permission like '%hate') and p.permission not like 'reply%')
        </trim>
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from user_opinfo
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.iquma.pojo.Operation">
        insert into user_opinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="uid != null">
                uid,
            </if>
            <if test="opid != null">
                opid,
            </if>
            <if test="pid != null">
                pid,
            </if>
            <if test="opTime != null">
                opTime,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="uid != null">
                #{uid,jdbcType=VARCHAR},
            </if>
            <if test="opid != null">
                #{opid,jdbcType=VARCHAR},
            </if>
            <if test="pid != null">
                #{pid,jdbcType=TINYINT},
            </if>
            <if test="opTime != null">
                #{opTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>

</mapper>