<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.RoleMapper">
  <resultMap id="BaseResultMap" type="com.iquma.pojo.Role">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="role" jdbcType="VARCHAR" property="role" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="isAvailable" jdbcType="BIT" property="isAvailable" />
  </resultMap>
  <sql id="Base_Column_List">
    id, role, description, isAvailable
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from user_roleinfo
    where id = #{id,jdbcType=TINYINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Byte">
    delete from user_roleinfo
    where id = #{id,jdbcType=TINYINT}
  </delete>
  <insert id="insert" parameterType="com.iquma.pojo.Role">
    insert into user_roleinfo (id, role, description, 
      isAvailable)
    values (#{id,jdbcType=TINYINT}, #{role,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, 
      #{isAvailable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.iquma.pojo.Role">
    insert into user_roleinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="role != null">
        role,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isAvailable != null">
        isAvailable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=TINYINT},
      </if>
      <if test="role != null">
        #{role,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null">
        #{isAvailable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iquma.pojo.Role">
    update user_roleinfo
    <set>
      <if test="role != null">
        role = #{role,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isAvailable != null">
        isAvailable = #{isAvailable,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=TINYINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.iquma.pojo.Role">
    update user_roleinfo
    set role = #{role,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      isAvailable = #{isAvailable,jdbcType=BIT}
    where id = #{id,jdbcType=TINYINT}
  </update>


  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from user_roleinfo
  </select>

</mapper>