<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.RolePerMapper">
    <resultMap id="BaseResultMap" type="com.iquma.pojo.RolePerKey">
        <id column="id" jdbcType="TINYINT" property="id"/>
        <result column="rid" jdbcType="TINYINT" property="rid"/>
        <result column="pid" jdbcType="TINYINT" property="pid"/>
    </resultMap>

    <select id="selectPersByRid" parameterType="java.lang.Byte" resultType="java.lang.String" >
        select pid
        from user_roleperinfo
        where rid = #{rid,jdbcType=TINYINT}
    </select>

</mapper>