<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.SuclogMapper">
    <resultMap id="BaseResultMap" type="com.iquma.pojo.Suclog">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="uid" jdbcType="VARCHAR" property="uid"/>
        <result column="logintime" jdbcType="TIMESTAMP" property="logintime"/>
        <result column="loginip" jdbcType="VARCHAR" property="loginip"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, uid, logintime, loginip
    </sql>
    <select id="selectsByUid" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user_sucloginfo
        where uid = #{uid,jdbcType=VARCHAR}
    </select>
    <delete id="deletesByUid" parameterType="java.lang.String">
        delete from user_sucloginfo
        where uid = #{uid,jdbcType=VARCHAR}
    </delete>

    <insert id="insert" parameterType="com.iquma.pojo.Suclog">
        insert into user_sucloginfo
        (id,uid,logintime,loginip)
        values (#{id,jdbcType=INTEGER},#{uid,jdbcType=VARCHAR},#{logintime,jdbcType=TIMESTAMP},#{loginip,jdbcType=VARCHAR})
    </insert>

</mapper>