<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.TagMapper">
  <resultMap id="BaseResultMap" type="com.iquma.pojo.Tag">
    <id column="id" jdbcType="TINYINT" property="id" />
    <result column="pid" jdbcType="TINYINT" property="pid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="path" jdbcType="VARCHAR" property="path" />
  </resultMap>
  <sql id="Base_Column_List">
    id, pid, name, path
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Byte" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from common_tag
    where id = #{id,jdbcType=TINYINT}
  </select>

  <select id="selectAll"  resultType="java.lang.String">
    select name from common_tag
  </select>

  <select id="selectByCondition" parameterType="com.iquma.pojo.Tag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from common_tag
    <trim prefix="where" prefixOverrides="and">
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <select id="selectsFirstTag" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" />
    from common_tag
    where pid= 0
  </select>

  <select id="selectsByCondition" parameterType="com.iquma.pojo.Tag" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from common_tag
    <trim prefix="where" prefixOverrides="and">
      <if test="id != null" >
        pid = #{id,jdbcType=TINYINT}
      </if>
      <if test="pid != null">
        and pid = #{pid,jdbcType=TINYINT}
      </if>
      <if test="name != null">
        and name = #{name,jdbcType=VARCHAR}
      </if>
    </trim>
  </select>

  <select id="selectsRelevant" parameterType="java.lang.Byte" resultType="java.lang.String">
    select name from common_tag where find_in_set((select substring(path,2,1) from common_tag where id=#{id,jdbcType=TINYINT}),path)
  </select>

</mapper>