<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iquma.dao.TopicMapper">
  <resultMap id="BaseResultMap" type="com.iquma.pojo.Topic">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="sec" jdbcType="VARCHAR" property="sec" />
    <result column="tid" jdbcType="TINYINT" property="tid" />
    <result column="aid" jdbcType="VARCHAR" property="aid" />
    <result column="attid" jdbcType="INTEGER" property="attid" />
    <result column="addTime" jdbcType="TIMESTAMP" property="addTime" />
    <result column="reTime" jdbcType="TIMESTAMP" property="reTime" />
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
    <result column="viewCount" jdbcType="INTEGER" property="viewCount" />
    <result column="likeCount" jdbcType="DOUBLE" property="likeCount" />
    <result column="hateCount" jdbcType="DOUBLE" property="hateCount" />
    <result column="rateCount" jdbcType="TINYINT" property="rateCount" />
    <result column="replyCount" jdbcType="INTEGER" property="replyCount" />
    <result column="hasBest" jdbcType="BIT" property="hasBest" />
    <result column="isBlock" jdbcType="BIT" property="isBlock" />
    <association property="user" resultMap="UserResultMap" />
    <association property="tag" resultMap="TagResultMap" />
    <association property="attachment" resultMap="AttachmentResultMap" />
  </resultMap>

  <resultMap id="UserResultMap" type="com.iquma.pojo.User">
    <id column="userid" jdbcType="VARCHAR" property="id"/>
    <result column="username" jdbcType="VARCHAR" property="name"/>
  </resultMap>

  <resultMap id="TagResultMap" type="com.iquma.pojo.Tag">
    <id column="tagid" jdbcType="TINYINT" property="id" />
    <result column="tagname" jdbcType="VARCHAR" property="name" />
    <result column="tagpath" jdbcType="VARCHAR" property="path" />
  </resultMap>

  <resultMap id="AttachmentResultMap" type="com.iquma.pojo.Attachment">
    <id column="atttid" jdbcType="INTEGER" property="id" />
    <result column="attName" jdbcType="VARCHAR" property="name" />
    <result column="attSize" jdbcType="DOUBLE" property="size" />
    <result column="attPath" jdbcType="VARCHAR" property="path" />
    <result column="attPrice" jdbcType="TINYINT" property="price" />
  </resultMap>

  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.iquma.pojo.Topic">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    id, title, sec, tid, aid, addTime, reTime, viewCount, likeCount, hateCount, rateCount, replyCount, hasBest, isBlock
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    t.id as id, t.title, t.sec, t.aid, t.attid, u.name as username, q.name as tagname, t.addTime, t.reTime, t.content, t.viewCount, t.likeCount, t.hateCount, t.rateCount, t.replyCount, t.hasBest, t.isBlock, a.name as attName, a.size as attSize, a.path as attPath, a.price as attPrice
    from topic_topinfo t
    left join user_basinfo u on t.aid = u.id
    left join common_tag q on t.tid = q.id
    left join topic_attinfo a on t.attid = a.id
    where t.id = #{id,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from topic_topinfo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.iquma.pojo.Topic">
    insert into topic_topinfo (title, sec, tid,
      aid, attid,addTime, reTime,
      viewCount, likeCount, hateCount, rateCount, replyCount, hasBest, isBlock,
      content)
    values (#{title,jdbcType=VARCHAR}, #{sec,jdbcType=VARCHAR}, #{tid,jdbcType=TINYINT},#{aid,jdbcType=VARCHAR}, #{attid,jdbcType=INTEGER}, #{addTime,jdbcType=TIMESTAMP}, #{reTime,jdbcType=TIMESTAMP},#{viewCount,jdbcType=INTEGER}, #{likeCount,jdbcType=DOUBLE}, #{hateCount,jdbcType=DOUBLE},#{rateCount,jdbcType=TINYINT}, #{replyCount,jdbcType=INTEGER}, #{hasBest,jdbcType=BIT}, #{isBlock,jdbcType=BIT},
      #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.iquma.pojo.Topic">
    <selectKey resultType="int" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID() AS id
    </selectKey>
    insert into topic_topinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="title != null">
        title,
      </if>
      <if test="sec != null">
        sec,
      </if>
      <if test="tid != null">
        tid,
      </if>
      <if test="aid != null">
        aid,
      </if>
      <if test="attid != null">
        attid,
      </if>
      <if test="addTime != null">
        addTime,
      </if>
      <if test="reTime != null">
        reTime,
      </if>
      <if test="viewCount != null">
        viewCount,
      </if>
      <if test="likeCount != null">
        likeCount,
      </if>
      <if test="hateCount != null">
        hateCount,
      </if>
      <if test="rateCount != null">
        rateCount,
      </if>
      <if test="replyCount != null">
        replyCount,
      </if>
      <if test="hasBest != null">
        hasBest,
      </if>
      <if test="isBlock != null">
        isBlock,
      </if>
      <if test="content != null">
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="sec != null">
        #{sec,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        #{tid,jdbcType=TINYINT},
      </if>
      <if test="aid != null">
        #{aid,jdbcType=VARCHAR},
      </if>
      <if test="attid != null">
        #{attid,jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reTime != null">
        #{reTime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewCount != null">
        #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        #{likeCount,jdbcType=DOUBLE},
      </if>
      <if test="hateCount != null">
        #{hateCount,jdbcType=DOUBLE},
      </if>
      <if test="rateCount != null">
        #{rateCount,jdbcType=TINYINT},
      </if>
      <if test="replyCount != null">
        #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="hasBest != null">
        #{hasBest,jdbcType=BIT},
      </if>
      <if test="isBlock != null">
        #{isBlock,jdbcType=BIT},
      </if>
      <if test="content != null">
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.iquma.pojo.Topic">
    update topic_topinfo
    <set>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="sec != null">
        sec = #{sec,jdbcType=VARCHAR},
      </if>
      <if test="tid != null">
        tid = #{tid,jdbcType=TINYINT},
      </if>
      <if test="aid != null">
        aid = #{aid,jdbcType=VARCHAR},
      </if>
      <if test="attid != null">
        attid = #{attid, jdbcType=INTEGER},
      </if>
      <if test="addTime != null">
        addTime = #{addTime,jdbcType=TIMESTAMP},
      </if>
      <if test="reTime != null">
        reTime = #{reTime,jdbcType=TIMESTAMP},
      </if>
      <if test="viewCount != null">
        viewCount = #{viewCount,jdbcType=INTEGER},
      </if>
      <if test="likeCount != null">
        likeCount = #{likeCount,jdbcType=DOUBLE},
      </if>
      <if test="hateCount != null">
        hateCount = #{hateCount,jdbcType=DOUBLE},
      </if>
      <if test="rateCount != null">
        rateCount = #{rateCount,jdbcType=TINYINT},
      </if>
      <if test="replyCount != null">
        replyCount = #{replyCount,jdbcType=INTEGER},
      </if>
      <if test="hasBest != null">
        hasBest = #{hasBest,jdbcType=BIT},
      </if>
      <if test="isBlock != null">
        isBlock = #{isBlock,jdbcType=BIT},
      </if>
      <if test="content != null">
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="increaseReply" parameterType="java.lang.Integer">
    update topic_topinfo
    set
    replyCount = replyCount + 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="reduceReply" parameterType="java.lang.Integer">
    update topic_topinfo
    set
    replyCount = replyCount - 1
    where id = #{id,jdbcType=INTEGER}
  </update>

  <update id="adopt" parameterType="java.lang.Integer">
    update topic_topinfo
    set
    hasBest = true
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectsByCondition" parameterType="com.iquma.pojo.Topic" resultMap="BaseResultMap">
    select
    t.id as id, t.title, t.sec, t.aid, t.attid, u.name as username, q.name as tagname, t.addTime, t.reTime,   t.content, t.viewCount, t.likeCount, t.hateCount, t.rateCount, t.replyCount, t.hasBest, t.isBlock, a.name as attName, a.size as attSize, a.path as attPath, a.price as attPrice
    from topic_topinfo t
    left join user_basinfo u on t.aid = u.id
    left join common_tag q on t.tid = q.id
    left join topic_attinfo a on t.attid = a.id
    <where>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="sec != null">
        and sec = #{sec,jdbcType=VARCHAR}
      </if>
      <if test="tid != null">
        and tid in (select q.id from common_tag where find_in_set(#{tid,jdbcType=TINYINT},q.path))
      </if>
      <if test="aid != null">
        and aid = #{aid,jdbcType=VARCHAR}
      </if>
      <if test="attid != null">
        and attid = #{attid,jdbcType=INTEGER}
      </if>
      <if test="addTime != null">
        and addTime = #{addTime,jdbcType=TIMESTAMP}
      </if>
      <if test="reTime != null">
        and reTime = #{reTime,jdbcType=TIMESTAMP}
      </if>
      <if test="viewCount != null">
        and viewCount >= #{viewCount,jdbcType=INTEGER}
      </if>
      <if test="likeCount != null">
        and likeCount >= #{likeCount,jdbcType=DOUBLE}
      </if>
      <if test="hateCount != null">
        and hateCount >= #{hateCount,jdbcType=DOUBLE}
      </if>
      <if test="rateCount != null">
        and rateCount >= #{rateCount,jdbcType=TINYINT}
      </if>
      <if test="replyCount != null">
        and replyCount = #{replyCount,jdbcType=INTEGER}
      </if>
      <if test="hasBest != null">
        and hasBest = #{hasBest,jdbcType=BIT}
      </if>
      <if test="isBlock != null">
        and isBlock = #{isBlock,jdbcType=BIT}
      </if>
      <if test="content != null">
        and content = #{content,jdbcType=LONGVARCHAR}
      </if>
    </where>
    order by t.addTime desc, t.rateCount desc
  </select>

  <select id="selectByCondition" parameterType="com.iquma.pojo.Topic" resultMap="BaseResultMap">
    select
    t.id as id, t.title, t.sec, t.aid,t.attid, u.name as username, q.name as tagname, t.addTime, t.reTime,t.content, t.viewCount, t.likeCount, t.hateCount, t.rateCount, t.replyCount, t.hasBest, t.isBlock, a.name as attName, a.size as attSize, a.path as attPath, a.price as attPrice
    from topic_topinfo t
    left join user_basinfo u on t.aid = u.id
    left join common_tag q on t.tid = q.id
    left join topic_attinfo a on t.attid = a.id
    <where>
      <if test="id != null">
        t.id = #{id,jdbcType=INTEGER}
      </if>
      <if test="title != null">
        t.title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="sec != null">
        and t.sec = #{sec,jdbcType=VARCHAR}
      </if>
      <if test="tid != null">
        and t.tid = #{tid,jdbcType=TINYINT}
      </if>
      <if test="aid != null">
        and t.aid = #{aid,jdbcType=VARCHAR}
      </if>
      <if test="attid != mull">
        and t.attid = #{attid,jdbcType=INTEGER}
      </if>
      <if test="addTime != null">
        and t.addTime = #{addTime,jdbcType=TIMESTAMP}
      </if>
      <if test="reTime != null">
        and t.reTime = #{reTime,jdbcType=TIMESTAMP}
      </if>
      <if test="viewCount != null">
        and t.viewCount >= #{viewCount,jdbcType=INTEGER}
      </if>
      <if test="likeCount != null">
        and t.likeCount >= #{likeCount,jdbcType=DOUBLE}
      </if>
      <if test="hateCount != null">
        and t.hateCount >= #{hateCount,jdbcType=DOUBLE}
      </if>
      <if test="rateCount != null">
        and t.rateCount >= #{rateCount,jdbcType=TINYINT}
      </if>
      <if test="replyCount != null">
        and t.replyCount = #{replyCount,jdbcType=INTEGER}
      </if>
      <if test="hasBest != null">
        and t.hasBest = #{hasBest,jdbcType=BIT}
      </if>
      <if test="isBlock != null">
        and t.isBlock = #{isBlock,jdbcType=BIT}
      </if>
      <if test="content != null">
        and t.content = #{content,jdbcType=LONGVARCHAR}
      </if>
    </where>
  </select>

  <update id="changeStatusByPrimaryKey" parameterType="java.lang.Integer">
    update topic_topinfo
    set isBlock = ! isBlock where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from topic_topinfo
  </select>

  <select id="selectsSimpleByCondition" parameterType="com.iquma.pojo.Topic" resultMap="BaseResultMap">
    select
    t.id as id, t.title, t.sec, t.aid, u.name as username, q.name as tagname, t.reTime, t.viewCount,t.rateCount, t.replyCount
    from topic_topinfo t
    left join user_basinfo u on t.aid = u.id
    left join common_tag q on t.tid = q.id
    <where>
      <if test="title != null">
        title = #{title,jdbcType=VARCHAR}
      </if>
      <if test="sec != null">
        and sec = #{sec,jdbcType=VARCHAR}
      </if>
      <if test="tid != null">
        and tid in (select q.id from common_tag where find_in_set(#{tid,jdbcType=TINYINT},q.path))
      </if>
      <if test="aid != null">
        and aid = #{aid,jdbcType=VARCHAR}
      </if>
      <if test="reTime != null">
        and reTime = #{reTime,jdbcType=TIMESTAMP}
      </if>
      <if test="viewCount != null">
        and viewCount >= #{viewCount,jdbcType=INTEGER}
      </if>
      <if test="rateCount != null">
        and rateCount >= #{rateCount,jdbcType=TINYINT}
      </if>
      <if test="replyCount != null">
        and replyCount = #{replyCount,jdbcType=INTEGER}
      </if>
    </where>
    order by t.reTime desc, t.rateCount desc
  </select>

</mapper>